@import './partials/variables';
@import './partials/mixins';


@function gfont($font){
  $font: unquote($font);
  @return "https://fonts.googleapis.com/css?family=#{$font}";
}

@import url(gfont("Alegreya+Sans"));
@import url(gfont("Titillium+Web"));

@include fancy-links;

.warning-button {
  @include warning;
  padding: 8px 12px;
}

body {
  font-family: sans-serif;
  color: $text-color;

  @include large-screen {
    font-size: 125%;
  }
}
h1, h2, h3, h4 {
  font-family: $headline-font;
}

h2 {
  @include large-text;
}

p {
  font-family: $text-font;

}

a {
  color: $link-color;

  &:hover {
    color: darken($link-color, 15%);
  }

}

#header {
  @include box($border: 1px solid #999);
  @include box-shadow(2px 0px 4px #999, 1px 1px 6px $secondary-color);
  height: $header-height;
  background-color: $theme-color;

  #main-menu {
    
    li {
      display: inline;
    }
    a {
      color: $menu-item-color;
      padding: 6px 8px;
      border-bottom: 1px solid transparentize(#fefefe, 1);
      transition: border-bottom 0.5s;
      transition-timing-function: ease-in-out;
      &:hover {
        border-bottom: 1px solid opacify(#fefefe, .5);
      }
    }
  }
  
  #logo {

  }
}

#main {
  width: $content-width;

  @include large-screen {
    width: auto;
    max-width: $content-width;
  }
  margin-left: auto;
  margin-right: auto;

  #content {
  }

  #sidebar {
  }
}

#footer {
  height: $footer-height;
  background-color: $ternary-color;
}

